<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boris!</title>
    <link rel="stylesheet" href="/css/style">
  </head>
  <body>
    <header>This is my first website!</header>
    <nav>
      <a href="/">Boris Home Page</a>
      <a href="/about">About the Band</a>
      <a href="/discography">Boris albums</a>
      <a href="/tours">Go see Boris!</a>
    </nav>
    <section>
      <h1>Boris has an extensive collection of albums. Here are a few of my favorites.</h1>
      <p>New Album</p>
      <img src="/images/borisalbum1.jpg">
      <p>Pink</p>
      <img src="/images/100869.jpg">
      <p>Heavy Rocks</p>
      <img src="images/Boris-Heavy-Rocks.jpg">

    </section>
    <footer>
      <small>(c) Boris Fan Club Inc.</small>
    </footer>
  </body>
</html>
