<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boris!</title>
  </head>
  <body>
    <header>This is my first website!</header>
    <nav>
      <a href="/">Boris Home Page</a>
      <a href="/about">About the Band</a>
      <a href="/discography">The Long List of Boris albums</a>
      <a href="/tours">Go see Boris!</a>
    </nav>
  </body>
</html>
